@use "../../scss/mixins";
@use "../../scss/variables";

.blog__link {
  text-decoration: none;
}

.article__card {
  padding: 1rem 0;
  margin: 0 1rem;
  cursor: pointer;
  border-bottom: 1px solid variables.$neutral-600;

  .article__title {
    @include mixins.text-preset-five;
  }

  .article__date {
    @include mixins.text-preset-eight-italic;
  }

  .article__body {
    @include mixins.text-preset-seven;
  }
}
