@use "../../scss/mixins";

.blog__link {
  text-decoration: none;
}

.article__card {
  padding: 1rem 0;
  margin: 0 1rem;
  cursor: pointer;

  .article__title {
    @include mixins.text-preset-five;
  }

  .article__Date {
    @include mixins.text-preset-eight-italic;
  }
}
