@use "../../../scss/mixins";
@use "../../../scss/variables";

.create__page {
  margin: 0 auto;
  max-width: 600px;
  min-height: 100vh;

  @media (min-width: 600px) {
    padding: 0 4.5rem;
    border-left: 2px solid variables.$neutral-600;
    border-right: 2px solid variables.$neutral-600;
  }

  .create__title {
    margin: 0 0 0 1rem;
    padding: 1rem;
    @include mixins.text-preset-two;
  }
}
