@use "./scss/mixins";
@use "./scss/variables";

.home__page {
  margin: 0 auto;
  padding: 0 0.5rem;
}

.about__title {
  position: relative;
  display: inline-block;
  @include mixins.text-preset-two;
  z-index: 1;
  margin: 2rem 1rem 0 1rem;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0.35rem;
    width: 100%;
    height: 0.4rem;
    background-color: variables.$blue-500;
    z-index: -1;
  }
}

.about__para {
  @include mixins.text-preset-seven;
  margin: 1rem 1rem;
}

.icon__container {
  display: flex;
  gap: 0.5rem;
  margin-left: 1rem;

  .icon {
    padding: 0.25rem;
    border: 2px solid variables.$neutral-800;
    border-radius: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: variables.$neutral-100;
    }
  }
}
