@use "./scss/mixins";
@use "./scss/variables";

// Main Section

.home__page {
  margin: 0 auto;
  max-width: 600px;
  height: 100vh;

  @media (min-width: 600px) {
    padding: 0 4.5rem;
    border-left: 2px solid variables.$neutral-600;
    border-right: 2px solid variables.$neutral-600;
  }
}

.main {
  padding: 2rem 0;
  border-bottom: 1px solid variables.$neutral-600;
}

.about__title {
  position: relative;
  display: inline-block;
  @include mixins.text-preset-two;
  z-index: 1;
  margin: 0 1rem;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0.35rem;
    width: 100%;
    height: 0.4rem;
    background-color: variables.$blue-500;
    z-index: -1;
  }
}

.about__para {
  @include mixins.text-preset-seven;
  margin: 1rem;
}

// Icon Container

.icon__container {
  display: flex;
  gap: 0.5rem;
  margin-left: 1rem;

  .icon {
    padding: 0.55rem;
    border: 2px solid variables.$neutral-700;
    background-color: variables.$neutral-800;
    border-radius: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: variables.$neutral-100;
    }
  }
}

// Articles Section

.articles {
  padding: 2rem 0;
  border-bottom: 1px solid variables.$neutral-600;
}

.articles__title {
  position: relative;
  display: inline-block;
  @include mixins.text-preset-two;
  margin: 0 1rem;

  &::after {
    content: "";
    position: absolute;
    left: 230px;
    bottom: 0.35rem;
    width: 50px;
    height: 0.15rem;
    background-color: variables.$blue-500;
    z-index: -1;
  }
}

.articles__link {
  position: relative;
  display: inline;
  margin-left: 1rem;
  @include mixins.text-preset-six;
  text-decoration: none;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.15rem;
    background-color: variables.$blue-500;
    z-index: -1;
  }

  &:hover {
    font-weight: 600;
  }
}
