@use "../../../../scss/mixins";
@use "../../../../scss/variables";

.create__page {
  @include mixins.text-preset-seven;
  margin: 0 auto;
  max-width: 600px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

  @media (min-width: 600px) {
    padding: 0 4.5rem;
    border-left: 2px solid variables.$neutral-600;
    border-right: 2px solid variables.$neutral-600;
  }

  .create__title {
    margin: 0 0 0 1rem;
    padding: 1rem;
    @include mixins.text-preset-two;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;

  .input {
    @include mixins.text-preset-seven;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    background-color: variables.$neutral-800;
    border: 1px solid variables.$neutral-700;
    margin-bottom: 2rem;
  }

  .body__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
