@use "../../scss/mixins";
@use "../../scss/variables";

.about {
  margin: 0 auto;
  max-width: 600px;
  min-height: 100vh;

  @media (min-width: 600px) {
    padding: 0 4.5rem;
    border-left: 2px solid variables.$neutral-600;
    border-right: 2px solid variables.$neutral-600;
  }

  .about__container {
    padding: 2rem 0;

    .about__title {
      position: relative;
      display: inline-block;
      @include mixins.text-preset-two;
      z-index: 1;
      margin: 0 1rem;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0.35rem;
        width: 100%;
        height: 0.4rem;
        background-color: variables.$blue-500;
        z-index: -1;
      }
    }

    .about__para {
      @include mixins.text-preset-seven;
      margin: 1rem;
    }

    .about__image {
      display: flex;
      justify-self: center;
      width: 300px;
      height: 450px;
      border-radius: 10px;
    }
  }

  .follow__text {
    @include mixins.text-preset-four;
    margin: 0 1rem 1rem 1rem;
  }

  .icon__container {
    display: flex;
    gap: 1rem;
    margin: 0 1rem;

    .link {
      padding: 0.5rem;
      border: 2px solid variables.$neutral-700;
      background-color: variables.$neutral-800;
      border-radius: 8px;
      display: flex;
      align-items: center;
      cursor: pointer;

      &:hover {
        background-color: variables.$neutral-100;
      }
    }
  }
}
